@tailwind base;
@tailwind components;
@tailwind forms;
@tailwind utilities;

html, body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

body {
    flex-basis: 100%;
}

#root {
    flex-basis: 100%;
}

@layer components {
    .btn {
        @apply px-3 py-2 rounded-md text-white bg-gray-500 hover:bg-gray-600;
    }
}